# Ignore binary files (typically with common extensions like .exe, .out, .bin, etc.)
*.exe
*.out
*.bin
*.obj
*.o
*.dll
*.so
*.dylib
*.pyc
*.pyo

# Ignore JSON files
*.json

# Ignore TXT files
*.txt
Basics/calculations
Basics/debugvisualizer
Basics/interest
Basics/print
Basics/stringcombinations
ControlFlow/calculations
Functions/functions
Pattern/fullpyramid
Pattern/halfpyramid
Pattern/otherpyramids
